.btn-add-event{
    background-image: url(../images/add-event.png) !important;
    background-size: 16px 16px !important;
    width: 16px !important;
    height: 16px !important;
    cursor: pointer;
}

.btn-add-event-month{
  margin: 4px;
}

.btn-add-event-week{
  margin: 4px auto;
}

.btn-add-event-day{
  margin: 4px auto;
}

.btn-add-event:hover{
    box-shadow: 2px 2px 2px #000000;
}

.modal{
  overflow: scroll;
}

#rrule-readable{
  color:green;
  font-weight: bold;
}

.fc-content{
  transition: all 200ms ease-out;
  cursor: pointer;
}

.fc-content:hover{
  box-shadow: 0 0 6px rgba(35, 173, 255, 1);
}
